html, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

.backgroundImage {
  padding: 10px;
  background-image: url("Images/websiteBaground1.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  transition: background-position 0.5s ease;
}
/* 
.backgroundImage {
  background-color: #a827003b;
} */

.navBar {
  background-color: #7C1C00;
  height: 60px;
  width: 100%;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head {
  display: flex;
  flex-direction: row;
  grid-gap: 20px;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
}

.heading {
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  /* margin: 10px; */
  grid-gap: 10px;
}

.subContainer {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  max-width: 1100px;
}

.subContainer0 {
  background-color: #7c1d0073;
  padding: 10px;
  border-radius: 10px;
}

.container1 {
  background-color: #7c1d0075;
  max-width: 1230px;
  padding: 10px;
  height: 500px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  border-radius: 10px;
}

.section1 {
  padding: 10px;
  background-color: #a8270072;
  width: 750x;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
}

.profile {
  width: 100px;
  height: 100px;
}

.section1 > p {
  color: aliceblue;
  width: 100%;
}

.section2 {
  padding: 10px;
  background-color: #a8270074;
  border-radius: 10px;
  color: aliceblue;
}

.section2 > ul {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}


.section3 {
  padding: 10px;
  border-radius: 10px;
  background-color: #a8270072;
  color: aliceblue;
}

.subSection4 {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
}

.skills {
  background-color: #ff3c0069;
  padding: 5px;
  border-radius: 5px;
}

.section4 {
  padding: 10px;
  background-color: #a8270072;
  border-radius: 10px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.section3 > ul {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.section3 > ul > li > a {
  color: rgb(0, 157, 255);
}

.container2 {
  color: white;
  text-align: center;
  padding: 10px;
  background-color: #65180081;
  width: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.container2section {
  background-color: #a8270078;
  border-radius: 10px;
  color: aliceblue;
  text-align: center;
}

.container2section1 {
  padding: 10px;
  background-color: #a8270075;
  border-radius: 10px;
  color: aliceblue;
  text-align: center;
}

.link {
  color: white;
}

a {
  font-size: 14px;
  text-align: center;
}

.subsection {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.section2Heading {
  font-size: larger;
}

.subHeading {
  font-size: large;
}

.section2Headingcontainer2 {
  margin: 0;
  font-size: large;
}


@media screen and (max-width: 1200px) {

  .backgroundImage {
    background-position: right; /* Change background position for smaller screens */
  }
}

@media screen and (max-width: 600px) {
  .logos {
    display: none;
  }

  h1 {
    font-size: 20px;
  }

  .logo {
    width: 30px;
    height: 30px;
  }

  .head  {
    grid-gap: 10px;
  }

  p {
    font-size: 14px;
  }

  .section3 > ul {
    font-size: 14px;
  }

  .section2 > ul {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {

  .navBar {
    height: 50px;
  }

  h1 {
    font-size: 19px;
  }

  .head  {
    grid-gap: 5px;
  }

  /* .section1Content {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  } */

  .section3 > ul {
    font-size: 14px;
  }

  .section2 > ul {
    font-size: 14px;
  }

  .container {
    flex-direction: column;
  }

  .section1 {
    align-items: center;
    height: 120px;
  }

  .profile {
    width: 70px;
    height: 70px;
  }

  .container1 {
    height: 530px;
  }

  .container2 {
    flex-direction: column;
    width: 95%;
    align-items: center;
    font-size: 15px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .subsection {
    flex-direction: row;
  }

  .section2Heading {
    font-size: large;
  }

  .subHeading {
    font-size: medium;
  }

  .section2Headingcontainer2 {
    font-size: large;
  }
  
  .heading {
    font-size: medium;
  }

}